__pycache__/
.venv
.vscode/
*.list
backup/
data/
django_secretkey.txt
test.py
bricklink.json
imported_list.txt
xx_stenchef/warehouse/static_src/**
xx_stenchef/warehouse/static/css/**
lexoffice_data.json