__pycache__/
.venv
.vscode/
*.list
backup/
data/
django_secretkey.txt
test.py
bricklink.json
imported_list.txt
stenchef/warehouse/static_src/**
stenchef/warehouse/static/css/**
lexoffice_data.json
sync_deleted.py
update_all_prices.py
*.pdf