__pycache__/
bricklink_data/
.venv
.vscode/
*.list
backup/
data/
django_secretkey.txt
test.py
bricklink.json
imported_list.txt
fixtures/
stenchef/warehouse/static_src/**
stenchef/warehouse/static/css/**
