django-crispy-forms==1.9.2
django-currentuser==0.5.1
django-easy-select2==1.5.7
django-extensions==3.0.5
django-organizations==1.1.2
Django==3.0.5
djongo==1.3.3
# older version of sqlparse is required for djongo
sqlparse==0.2.4
Pillow==7.2.0
django-tailwind==0.10.0
crispy-tailwind==0.2.0
django-rgbfield==1.0
django-querysetsequence==0.13
django-select2==7.4.2
django-autocomplete-light==3.5.1
git+git://github.com/BrickBytes/bricklink_api.git@master
django-extra-views==0.13.0