{% extends "warehouse/base.html" %}
{#% load random_numbers %#}
{% block content %}
<h2 class="my-1">Containers</h2>
<section>
<ol class="flex flex-row flex-wrap items-center">
{% for container in containers %}
  <div class="bg-white border rounded-lg overflow-hidden xl:w-1/6 md:w-1/4 px-4 py-2 m-2" >
  <!-- #fbc2eb 0%, #a6c1ee style="background-image: linear-gradient(to top, #{{ rand|add:"12345abcdef"|make_list|random }}bc2eb 0%, #a6{{ rand|add:"12345abcdef"|make_list|random }}1ee 100%);" -->
    <li>
      <h4 class="border-b-1 border-gray-500 border-solid"><div class="icon baseline icon-folder"></div>{{ container }}</h4>
      <ul>
        <li class="pl-4 text-gray-600 text-xs uppercase font-semibold tracking-wide">
          {{ property.beds }} dinge &bull; {{ property.baths }} teile
        </li>
        <li class="pl-4 mt-1 text-sm">
          lorem ipsum 900
          <span class="text-gray-600 text-sm"> / von 10</span>
        </li>
        <li class="pl-4 mt-4 text-sm">
          <span class="text-teal-600 font-semibold">attribut wat</span>
          <span class="text-gray-600 text-sm"> (kleine details)</span>
        </li>
      </ul>
    </li>
  </div>
{% endfor %}
</ol>
</section>
{% endblock content %}
