{% extends "warehouse/base.html" %}
{% block content %}
{% for container in containers %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ container.name }}</a>
                <small class="text-muted">{{ container.date_added|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ container.description }}</a></h2>
            <p class="article-content">{{ container.containertype }}</p>
        </div>
    </article>
{% endfor %}
{% endblock content %}