{% extends "warehouse/base.html" %}
{% block content %}
<div class="infinite-container">
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Type</th>
          <th class="px-4 py-2">Parent</th>
        </tr>
      </thead>
      <tbody>
    {% for container in containers %}
        <tr class="infinite-item">
            <td class="border px-4 py-2"><a class="text-blue-500" href="{% url 'warehouse:cdetail' container.containerid %}">{{ container.name }}</a></td>
            <td class="border px-4 py-2">{{ container.containertype }}</td>
            {% if container.parent %}
            <td class="border px-4 py-2"><a class="text-blue-500" href="{% url 'warehouse:cdetail' container.parent.containerid %}">{{ container.parent.name }}</td>
            {% else %}
            <td class="border px-4 py-2">None</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="loading" style="display: none;">
    <button type="button" class="bg-indigo-600 ..." disabled>
      <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
      </svg>
      Loading
    </button>
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ containers.next_page_number }}">More</a>
  {% endif %}
{% endblock content %}