{% extends "warehouse/base.html" %}
{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Container <em class="italic">{{ container.name }}</em></h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <div class="lg:w-1/2 w-full leading-relaxed text-base">
                <ul>
                    <li>Location: <span class="float-right font-light text-gray-600">
                    {% if container.parent %}
                        {% for parent in parents %}
                        <a class="text-blue-500" href="{% url 'warehouse:cdetail' parent|slugify %}">{{ parent }}</a> &lt;
                        {% endfor %}
                        <a class="text-blue-500" href="{% url 'warehouse:cdetail' container.containerid %}">{{ container.name }}</a>
                    {% else %}
                        <a class="text-blue-500" href="{% url 'warehouse:cdetail' container.containerid %}">{{ container.name }}</a>
                    {% endif %}
                    </span></li>
                    <li>Type: <span class="float-right">✎<a href="{% url 'warehouse:ctedit' container.containertype|slugify %}">{{ container.containertype }}</a>🖉</span></li>
                    <li>🐌 Slug: <span class="float-right">{{ container.slug }}</span></li>
                    <li>Date added: <span class="float-right">{{ container.date_added }}</span></li>
                    <li>ID: <span class="float-right">{{ container.containerid }}</span></li>
                    <!--<li>Children:
                        <ul class="flex flex-row float-right w-4/5 flex-wrap justify-end">
                            {% for child in children %}
                            <li class="mx-2"><a class="px-3 py-1 bg-gray-600 text-center text-gray-100 text-sm font-bold rounded" href="{% url 'warehouse:cdetail' child.containerid %}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul></li>-->
                    <li class="clear-both">Description: <span class="float-right">{{ container.description }} {% lorem 20 w %}</span></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-wrap -m-4">
        ugly Children
            <ul class="xl:w-1/6 md:w-1/4 p-4 flex">
                {% for child in children %}
                <li class="mx-2"><a class="px-3 py-1 text-center text-gray-800 text-sm  rounded" href="{% url 'warehouse:cdetail' child.containerid %}">{{ child.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex flex-wrap -m-4">
            {% for item in items %}
            <div class="xl:w-1/6 md:w-1/4 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                    <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">{{ item.item_id.itemname | truncatechars:30}}</h3>
                    <h2 class="text-xl text-gray-900 font-medium title-font mb-4"><a href="{% url 'catalog:idetail' item.item_id.itemuid %}">{{ item.item_id }}</a></h2>
                    <a href="{% url 'warehouse:iedit' item.storedid %}">Edit</a>
                    
                    <p class="leading-relaxed text-base">
                        Type: {{ item.item_id.itemtype }}
                        Condition: {{ item.condition }}<br/>
                        Count: {{ item.count }}
                    </p>
                    <div class="h-1 w-20 rounded " style="background-color: #{{ item.color.colorrgb }};"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}