{% extends "warehouse/base.html" %}
{% block content %}
<div class="flex flex-row justify-center">
<form method='POST' class="flex flex-col">
  {% csrf_token %}
  <formset>Add Quantity to Container: {{ object.container.name }}:
  {% if quantity %}
  <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" type='integer' name='add_item' value="{{ quantity }}">
  {% else %}
  <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" type='integer' name='add_item'>
  {% endif %} pcs
  </formset>
  <input class="justify-end px-4 py-2 mt-4 text-sm leading-none text-white bg-teal-500 border border-white rounded hover:border-transparent hover:bg-teal-600 lg:mt-0" type='submit' namevalue="add">
</form>
</div>
{% endblock content %}