{% extends "warehouse/base.html" %}
{% block content %}
<ul>
    {% for container in containers %}
    <li>
        <a class="mr-2" href="">{{ container.name }}</a>
        <small class="text-muted">{{ container.date_added|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ container.description }}</a></h2>
        <p class="article-content">{{ container.containertype }}{{ container.hierarchy_order_number }}</p>
        <p class="article-content">{{ container.containerid }} color: {{ container.containertype.color }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}