{% extends "warehouse/base.html" %}
{% block content %}

<section class="overflow-hidden text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap mx-auto lg:w-4/5">
      <a href="{{ link }}"><img alt="bricklink-picture" class="object-scale-down object-center h-64 rounded" src
        src="{{ pic }}"/></a>
      <div class="flex flex-col w-full mt-6 lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0">
        <div class="flex flex-row flex-wrap justify-between">
          <h2 class="text-xl tracking-widest text-gray-500 title-font">{{ item.itemyear }}</h2>
          <h2 class="text-xl tracking-widest text-gray-500 title-font">{{ item.itemtype }} - {{ item.category }}</h2>
        </div>
        <div class="flex flex-row flex-wrap justify-between">
          <h1 class="text-3xl font-medium text-gray-900 title-font">{{ item.itemid }}</h1>
          <h1 class="pt-1 text-2xl font-medium text-gray-900 title-font">{{ item.itemname|safe }}</h1>
        </div>

        <table class="mt-4 text-left table-auto">
          <tr>
            <th>Dimension x</th>
            {% if item.itemdimx %}
            <td>{{ item.itemdimx }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
          <tr>
            <th>Dimension y</th>
            {% if item.itemdimy %}
            <td>{{ item.itemdimy }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
          <tr>
            <th>Dimension z</th>
            {% if item.itemdimz %}
            <td>{{ item.itemdimz }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
          <tr>
            <th>Weight</th>
            {% if item.itemweight %}
            <td>{{ item.itemweight }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
        </table>
        <div class="flex items-center pb-5 mt-6 mb-5 border-b-2 border-gray-200">
          <div class="flex">
            <span class="mr-3">Available Colors</span>
            <button class="w-6 h-6 border-2 border-gray-300 rounded-full focus:outline-none"></button>
            <button class="w-6 h-6 ml-1 bg-gray-700 border-2 border-gray-300 rounded-full focus:outline-none"></button>
            <button
              class="w-6 h-6 ml-1 bg-indigo-500 border-2 border-gray-300 rounded-full focus:outline-none"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}